<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>A Bootstrap theme generator</h1>
      <p>Speeds up production and maintenance of Bootstrap themes. Includes the following:</p>
      <p>Made in Vancouver by <a href="http://twitter.com/">@IvanVilches</a></p>

    </div>
  </div>
</div>
